.video_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 30px;

    & .title {
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        text-align: center;
    }
}