@import "@styles/variables.scss";

.card_link {
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
    border-radius: 20px;
    gap: 20px;
    width: 50vw;
    min-width: 300px;
    max-width: 750px;
    height: 25vw;
    min-height: 150px;
    max-height: 400px;
    transition: all .3s ease-in-out;

    &:hover {
        width: 52vw;
        height: 27vw;
        transition: all .3s ease-in-out;
        box-shadow: $box-shadow;
    }

    &__img {
        position: relative;
        width: 20vw;
        min-width: 100px;
        max-width: 200px;
        height: 20vw;
        min-height: 100px;
        max-height: 200px;
    }

    & .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-align: center;

        &__profession {
            color: crimson;
        }

        &__mark {
            color: dodgerblue;
        }
    }
}

.new_user {
    position: absolute;
    text-align: center;
    background-color: deepskyblue;
    font-size: 12px;
    width: max-content;
    padding: 0 5px;
    height: 20px;
    border-radius: 5px;
    right: 15px;
    top: 15px;
    font-weight: bold;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}