@import "./variables.scss";

.page {
    padding-top: 200px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        text-align: center;
        color: aliceblue;
        font-weight: bold;
    }

    &__to_main {
        color: aliceblue;

        & a {
            color: goldenrod;
        }
    }
}